@using Rieltor.Models.Object
@model Rieltor.Models.Object.ObjectSearchModel

<div class="main-div-search-object-page">

    <div class="main-container">
        <div class="upper-header-background">
            <div class="upper-header-div">
                <div>
                    <p>
                        Ми працюємо для Вас!
                    </p>
                </div>
                <a href="@Url.Action("Show", "PickTypeOfObject")">
                    <div class="upper-header-search-div">

                        <div class="upper-header-search">
                            <p>Пошук нерухомості</p>
                        </div>

                    </div>
                </a>


            </div>
        </div>

        <div class="header-contacts-container">
            <div class="header-contacts-div">

                <a href="@Url.Action("Index", "Home")">
                    <div>
                        <img src="/Image/logo.svg" alt="logo">
                    </div>
                </a>

                <div>
                    <div class="header-right-contacts-div">
                        <div class="location-point-div">
                            <div class="location-point-div-img">
                                <img class="location-point-img" src="/Image/locationPoint.png" alt="point">
                            </div>
                            <p>
                                ст. м. "Палац Спорту" <br>
                                вул. Шота Руставелі, 20<br>
                                офіс 6
                            </p>
                        </div>
                        <div class="location-point-div">
                            <div class="location-point-div-img">
                                <img class="location-point-img" src="/Image/locationPoint.png" alt="point">
                            </div>
                            <p>
                                ст. м. "Золоті Ворота"<br>
                                вул. Б. Хмельницького, 29/2<br>
                                офіс 4
                            </p>
                        </div>
                        <div class="location-point-div">
                            <div class="location-point-div-img">
                                <img class="location-point-img" src="/Image/yellowphone.png" alt="phone">
                            </div>
                            <p>
                                Наші телефони:<br>
                                +38 (067) 829 41 00<br>
                                +38 (044) 390 34 93
                            </p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="div-search-bloc">
        <form asp-action="Create">
            <div class="div-search-all-items div-seacrh-city">
                <label for="City">Місто</label>
                <select id="cityDropdown" asp-for="CityId" asp-items="ViewBag.Cities" data-val="@ViewBag.SelectedCity">
                    <option value="">-- Виберіть місто --</option>
                </select>
                
            </div>

            <div class="div-search-all-items div-seacrh-district" id="districtContainer" style="display: none;">
                <label for="District">Район</label>
                <select id="districtDropdown" asp-for="DistrictId">
                    <option value="">-- Спочатку виберіть місто --</option>
                </select>
            </div>

            <div class="div-search-all-items div-seacrh-city">
                <label>Кількість кімнат</label>
                <div>
                    <label>
                        <input class="none-input" type="checkbox" name="Rooms" value="1" />
                        <span class="custom-checkbox"></span>
                    </label>
                    <span>1</span>
                    
                    <label>
                        <input class="none-input" type="checkbox" name="Rooms" value="2" />
                        <span class="custom-checkbox"></span>
                    </label>
                    <span>2</span>
                    
                    <label>
                        <input class="none-input" type="checkbox" name="Rooms" value="3" />
                        <span class="custom-checkbox"></span>
                    </label>
                    <span>3</span>
                    
                    <label>
                        <input class="none-input" type="checkbox" name="Rooms" value="4" />
                        <span class="custom-checkbox"></span>
                    </label>
                    <span>4+</span>
                    
                </div>
            </div>

            <div class="div-search-all-items div-seacrh-city">
                <label for="Area">Площа (кв.м.)</label>
                <input type="number" asp-for="Area" min="1" step="1" />
            </div>

            <div class="div-search-all-items div-seacrh-city">
                <label for="Floor">Поверх</label>
                <input type="number" asp-for="Floor" min="1" step="1" />
            </div>

            <div class="div-search-for-btn">
                <button class="btn-search-button" type="submit">Знайти об'єкт</button>
                <button class="btn-search-button-clear" type="submit">Очистити</button>
            </div>
            
        </form>
    </div>





</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('#cityDropdown').change(function () {
                var cityId = $(this).val();
                if (cityId) {
                    loadDistricts(cityId);
                } else {
                    clearDistricts(); // Сбрасываем районы, если город не выбран
                }
            });

            function loadDistricts(cityId) {
                clearDistricts();
                $.getJSON('@Url.Action("GetDistrictsByCityId", "Object")', { cityId: cityId }, function (districts) {
                    var districtDropdown = $('#districtDropdown');
                    districtDropdown.empty();
                    districtDropdown.append($('<option>', { value: '', text: '-- Виберіть район --' }));

                    if (districts.length === 0) {
                        districtDropdown.append($('<option>', { value: '', text: '-- Районів немає --' }));
                    } else {
                        $.each(districts, function (index, district) {
                            districtDropdown.append($('<option>', { value: district.id, text: district.name }));
                        });
                    }

                    // Показываем контейнер для районов только если есть районы
                    if (districts.length > 0) {
                        $('#districtContainer').show(); // Показываем контейнер с меткой и дропдауном
                    }
                });
            }

            function clearDistricts() {
                var districtDropdown = $('#districtDropdown');
                districtDropdown.empty(); // Очищаем выпадающий список районов
                districtDropdown.append($('<option>', { value: '', text: '-- Спочатку виберіть місто --' }));
                districtDropdown.val(''); // Сбрасываем выбранное значение
                $('#districtContainer').hide(); // Скрываем контейнер для районов
            }
        });

    </script>
}
